:root {
    --taskbar-background-color: white;
    --taskbar-border-color: #ccc;
    --taskbar-task-padding: 1px 3px 1px 3px;
    --taskbar-task-border: 1px solid #ccc;
    --taskbar-task-border-radius: 5px;
    --taskbar-task-background-color: #f4f4f4;
    --taskbar-task-hover-color: #e7e6e6;
}

.taskbar-container {
    width: 20%;
    background-color: var(--taskbar-background-color);
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid var(--day-border-color);
}

.taskbar-navigator {
    display: flex;
    height: 8%;
    overflow: auto;
}

.taskbar-navigator > h1 {
    width: 100%;
    text-align: center;
}

.taskbar-navigator-button {
    height: 50%;
    margin: auto 3%;
    display: flex;
    background-color: white;
    border: 1px solid var(--day-border-color);
    border-radius: 5px;
    align-items: center;
}

img {
    width: 2.5vh;
}

.taskbar-search-bar {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    border-top: var(--taskbar-border-color) 1px solid;
    width: 100%;
    height: 30px;
}

#taskbar-option-search-bar {
    width: 100%;
    margin: 1%;
    padding: 5px;
    border: 1px solid var(--taskbar-border-color);
    border-radius: 5px;
}

.taskbar-options {
    border-top: var(--taskbar-border-color) 1px solid;
}

.taskbar-options > label {
    font-weight: lighter;
}

#taskbar-search-status {
    width: 100%;
    height: 3%;
}

#taskbar-list {
    border-top: var(--taskbar-border-color) 1px solid;
}

.task-item {
    padding: var(--taskbar-task-padding);
    border: var(--taskbar-task-border);
    border-radius: var(--taskbar-task-border-radius);
    background-color: var(--taskbar-task-background-color);
    margin: 10px 5px;
    cursor: pointer;
    font-weight: lighter;
    overflow: auto;
}

.task-item:hover {
    background-color: var(--taskbar-task-hover-color);
}

.task-item > hr {
    border: none;
    height: 5px;
}

.task-date {
    font-size: normal;
    display: block;
    text-align: right;
    padding: 5px 5px 0;
}

.task-completed {
    display: inline-block;
}

.task-title {
    font-size: x-large;
    display: inline-block;
    padding: 0 5px;
    font-weight: 300;
}

.task-description {
    display: block;
    padding: 0 5px 5px;
    margin: 0;
}