.button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
}

.delete-button, .edit-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;
}

.edit-button {
    background-color: #dfad0b;
}

.event-item:hover .button-container, event-card:hover .button-container {
    display: block;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    z-index: 1000;
    display: none;
}

.popup .popup-message {
    margin-bottom: 20px;
}

.popup .popup-buttons {
    display: flex;
    justify-content: space-around;
}

.popup-button-confirm {
    border-radius: 5px;
    border: 2px solid #db4e4e;
    background-color: #ee9d9d;
    cursor: pointer;
}

.popup-button-cancel {
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    z-index: 1000;
    display: none;
}

.edit-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    max-width: 600px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    border: 2px solid #ccc;
    z-index: 1000;
}

.due-date-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#edit-title {
    width: 300px;
} 

.edit-popup h3 {
    margin: 0px 5px 0px 0px;
}
.edit-popup input {
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.edit-popup textarea{
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100px;
}

.slider-container input{
    width: 100%;
}

.edit-popup .section3 {
    display: flex;
    justify-content: space-between;
}

.edit-popup .popup-button-save {
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px
}

.edit-popup .popup-button-cancel {
    background-color: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    
}

.hidden-slider-container, .hidden {
    display: none;
}

#slider-value {
    font-weight: bold;
}

#edit-color, #edit-notes, .slider-container{
    margin-bottom: 15px;
}

#add-task-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    max-width: 600px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px #0000001a;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

#add-task-popup .section1 {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#add-task-popup h3 {
    margin: 0px 5px 0px 0px;
}

#add-task-popup input{
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#new-task-title {
    width: 300px;
}

#add-task-popup textarea{
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}

#add-task-popup .popup-buttons {
    justify-content: right;
    width: 100%;
}

#add-task-popup .popup-button-confirm,
#add-task-popup .popup-button-cancel {
    margin-left: 10px;
    background-color: #8dbaeb;
    border: none;
}

#add-task-popup .popup-button-cancel {
    border: 2px solid #ccc;
    background-color: white;
}

#add-task-popup .tags-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 100px;
}

#add-task-popup .tags-container .tag {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 0.9em;
}

#add-task-popup .tags-container .add-tag-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}